html
{
	background-image: url('calm.jpg');
}

@font-face
{
	font-family: Courgette;
	src: url(Courgette.ttf);
}

h1
{
	text-align: center;
	color: white;
	font-family: Courgette;
}

h4
{
	text-align: center;
	color: white;
	font-family: Courgette;

}

#mainlink
{
	color: black;
}