html
{
	background-image: url(calm.jpg);
}
@font-face
{
	font-family: Courgette;
	src: url(Courgette.ttf);

	font-family: Chawp;
	src: url(chawp.regular.ttf);
}
#dino
{
	position: absolute;
	bottom: 10px;
	right:10px;
	width:50px;
}
#All
{
	color: black;
	display: block;
	margin: auto;
	text-align: center;
	position: fixed;
	bottom: 10px;
}
#Another
{
	color: black;
	display: block;
	margin: auto;
	text-align: center;
	position: fixed;
	bottom: 10px;
	left:130px;
}
h1
{
	text-align: center;
	font-family: Chawp;
	font-size: 50px;
	color: ff3067;
}
#list
{
	text-align: center;
	font-family: Chawp;
	font-size: 20px;
}
#mark1
{
	width: 350px;
	filter: opacity(60%);
	position: fixed;
	top: 10px;
	transform: rotate(20deg);
	z-index: -1;
}
#mark2
{
	width: 350px;
	filter: opacity(60%);
	position: fixed;
	bottom: 10px;
	right:25px;
	transform: rotate(20deg);
	z-index: -1;
}