html
{
	background-image: url('calm.jpg');
}  
@font-face
{
	font-family: Courgette;
	src: url(Courgette.ttf);

	font-family: Chawp;
	src: url(chawp.regular.ttf);
}                     
h1                       
{                       
	text-align: center;                       
	color:ff3067;                       
	padding-top: 250px;                       
	font-size: 50px; 
	font-family: Chawp;                      
}                       
#All                       
{                       
	color: black;                       
	display: block;                       
	margin: auto;                       
	text-align: center;                       
	position: fixed;                       
	bottom: 10px;                       
}                       
#Another                       
{                       
	color: black;                       
	display: block;                       
	margin: auto;                       
	text-align: center;                       
	position: fixed;                       
	bottom: 10px;                       
	left:130px;                       
}                       
#select                       
{                       
	text-align: center;                       
	font-size: 30px;                       
	                       
}                       
#dino                       
{                       
	position: absolute;                       
	bottom: 10px;                       
	right:10px;                       
	width:50px;                       
}       
#mark1
{
	width: 350px;
	filter: opacity(60%);
	position: fixed;
	top: 10px;
	transform: rotate(20deg);
	z-index: -1;
}
#mark2
{
	width: 350px;
	filter: opacity(60%);
	position: fixed;
	bottom: 10px;
	right:25px;
	transform: rotate(20deg);
	z-index: -1;
}                
