html
{
	background-image: url(calm.jpg);
}
@font-face
{
	font-family: Courgette;
	src: url(Courgette.ttf);

	font-family: Chawp;
	src: url(chawp.regular.ttf);
}
#dino
{
	position: absolute;
	bottom: 10px;
	right:10px;
	width:50px;
}
#question
{
	padding-top: 250px;
	text-align: center;
	font-size: 50px;
	font-family: Chawp;
}
#answers
{
	display: block;
	text-align: center;
}
input[type=text]
{
	width: 250px;
    padding: 8px;
    box-sizing: border-box;
}
#delete
{
	position: absolute;
	bottom: 5px;
}
h1
{
	padding-top: 250px;
	text-align: center;
}
#mark1
{
	width: 350px;
	filter: opacity(60%);
	position: fixed;
	top: 10px;
	transform: rotate(20deg);
	z-index: -1;
}
#mark2
{
	width: 350px;
	filter: opacity(60%);
	position: fixed;
	bottom: 10px;
	right:25px;
	transform: rotate(20deg);
	z-index: -1;
}
